---

---

<script src="/src/utils/countdown.js" type="text/partytown" defer></script>
<div id="countdown" class="flex justify-around">
  <div class="m-1 sm:m-5 flex flex-col items-center justify-center ">
   <p id="days" class="text-4xl sm:text-6xl lg:text-8xl font-bold  mb-2">--</p>
   <small class="text-2xl sm:text-4xl">&nbsp;Days&nbsp;</small>
  </div>

  <div class="m-1 sm:m-5 flex flex-col items-center justify-center ">
   <p id="hours" class="text-4xl sm:text-6xl lg:text-8xl font-bold  mb-2">--</p>
   <small class="text-2xl sm:text-4xl">&nbsp;Hours&nbsp;</small>
  </div>

  <div class="m-1 sm:m-5 flex flex-col items-center justify-center ">
   <p id="minutes" class="text-4xl sm:text-6xl lg:text-8xl font-bold  mb-2">--</p>
   <small class="text-2xl sm:text-4xl">Minutes</small>
  </div>

  <div class="m-1 sm:m-5 flex flex-col items-center justify-center ">
   <p id="seconds" class="text-4xl sm:text-6xl lg:text-8xl font-bold  mb-2">--</p>
   <small class="text-2xl sm:text-4xl">Seconds</small>
  </div>
 </div>