---

const { h2text } = Astro.props

---
<div class="p-2 sm:w-1/2 w-full">
    <div class="bg-neutral2 rounded flex p-4 h-full items-center ">
    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-primary w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
        <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
        <path d="M22 4L12 14.01l-3-3"></path>
    </svg>
        <h2 class="font-medium text-2xl text-black hover:underline-offset-8 hover:underline">{h2text}</h2>
    </div>
</div>